<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Prestado el:</strong>
  <%= @book.borrowed_at %>
</p>

<p>
  <strong>Devolver antes de:</strong>
  <%= @book.returned_at %>
</p>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Volver', books_path %>
